/* Common Styles Start */

/* Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-pink: rgba(255, 75, 146, 1);
  --main-gradient: linear-gradient(
    to right,
    rgba(24, 201, 191, 1),
    rgba(111, 166, 251, 1),
    rgba(132, 137, 255, 1),
    rgba(254, 124, 103, 1)
  );
  --secondary-bg: #252525;
  --drop-shadow-1: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --drop-shadow-2: 0px 10px 20px rgba(0, 0, 0, 0.2);
  --inset-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;
  --vertical-line-gradient: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  --horizontal-line-gradient: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  --contact-gradient: radial-gradient(
    circle,
    rgba(254, 254, 254, 0.8),
    rgba(24, 201, 191, 0.8),
    rgba(111, 166, 251, 0.8),
    rgba(132, 137, 255, 0.8),
    rgba(254, 124, 103, 0.8)
  );
}

/* Font Family Starts */

@font-face {
  font-family: "Custom Font Regular";
  src: url("../src/fonts/OpenType-TT/Trap-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Custom Font Medium";
  src: url("../src/fonts/OpenType-TT/Trap-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Custom Font SemiBold";
  src: url("../src/fonts/OpenType-TT/Trap-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Custom Font Bold";
  src: url("../src/fonts/OpenType-TT/Trap-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Custom Font ExtraBold";
  src: url("../src/fonts/OpenType-TT/Trap-ExtraBold.ttf") format("truetype");
}

body {
  font-family: "Custom Font Regular" !important;
}

.custom-trap-regular {
  font-family: "Custom Font Regular" !important;
}
.custom-trap-medium {
  font-family: "Custom Font Medium" !important;
}
.custom-trap-semiBold {
  font-family: "Custom Font SemiBold" !important;
}
.custom-trap-bold {
  font-family: "Custom Font Bold" !important;
}
.custom-trap-extraBold {
  font-family: "Custom Font ExtraBold" !important;
}

.custom-inter {
  font-family: "Inter", sans-serif;
}

/* Font Family Ends */

button {
  font-family: "Inter", sans-serif !important;
}

.pink-bg-btn:hover {
  box-shadow: none !important;
}
.black-bg-btn:hover {
  color: rgba(255, 75, 146, 1) !important;

  box-shadow: 5px 5px 3px rgba(255, 255, 255, 0.2);
}
.white-bg-btn:hover {
  color: rgba(255, 75, 146, 1) !important;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
}
/* Common Styles End */

/* Nav Style Start */
.custom-logo {
  width: 200px;
}

.custom-line {
  height: 2px;
  width: 100%;
  background-color: black !important;
  color: black !important;
}
.custom-chevron {
  width: 10px;
  height: 28px;
  margin-top: -4px;
}
.custom-chevron-up {
  width: 18px;
  height: 35px;
}

.custom-chevron-font {
  font-size: 12px;
}

.custom-pink-color {
  color: var(--primary-pink) !important;
}

.custom-vr {
  min-width: 3px;
  margin-top: -8px;
  background-color: #000000 !important;
}
.custom-vr-2 {
  min-width: 3px;
  margin-top: -8px;
  background-color: #000000 !important;
}

@media screen and (width>992px) {
  .custom-vr,
  .custom-vr-2 {
    height: 100px !important;
  }
  .custom-logo {
    width: 200px;
  }
}

.custom-pink-btn {
  background-color: var(--primary-pink) !important;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
}

.nav-link-bold {
  font-weight: bold !important;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (width<=346px) {
  .custom-nav-btn1 {
    margin-bottom: 10px !important;
  }
}
/* Nav Style End */

/* Hero Style Start */

.custom-hero-bg {
  background-color: #000000;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.1) 2px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.1) 2px, transparent 1px);
  background-size: 60px 60px;
  color: white;
  height: 100%;
}

.custom-one-logo {
  width: 50px;
  margin-top: -5px;
}

.custom-text-gradient {
  background: var(--main-gradient) !important;
  background-clip: text !important;
  color: transparent !important;
}

.custom-gradient-wrapper {
  background: var(--main-gradient);
  padding: 16px 2px 14px 1px;
}

.custom-chevron {
  width: 18px;
}
.custom-chevron-up {
  margin-top: -10px;
}

.custom-metrics-bg {
  background-color: var(--secondary-bg);
  box-shadow: var(--drop-shadow-1), var(--drop-shadow-2), var(--inset-shadow);
}

.custom-metrics-vr {
  background: var(--vertical-line-gradient) !important  ;
  width: 2px;
  height: 200px;
}
.custom-metrics-hr {
  background: var(--horizontal-line-gradient) !important;
  width: 250px;
  height: 2px;
  margin: 0px auto;
}

@media screen and (width<360px) {
  .custom-bottom-margin {
    margin-bottom: 10px;
  }
}

/* Hero Style End */

/* Brand Style Start */

.custom-brand-logo {
  width: 100px;
}

.custom-testimonial-quotes {
  position: absolute;
  right: 0px;
  top: 0px;
}

.custom-testimonial-branch {
  position: absolute;
  right: 0px;
  bottom: 10px;
  margin-right: 15px;
}

@media screen and (width<768px) {
  .custom-testimonial-branch {
    bottom: 5px;
  }
}

.custom-testimonial-lady {
  position: relative;
  top: -20px;
  left: 0px;
}

.custom-quotes-position {
  position: absolute;
  top: -10px;
  right: 0px;
}

.custom-lady-position {
  margin-top: -45px;
}

.img-container {
  overflow: hidden;
}

.marquee {
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.marquee.left {
  animation-direction: normal;
}

.marquee.right {
  animation-direction: reverse;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Brand Style End */

/* FlowChart Style start */

.custom-img-flow {
  width: 90%;
}

.custom-rotate {
  transform: rotate(90deg);
}
.custom-arrow-margin {
  margin: -50px 0px;
}

/* FlowChart Style End */

/* Progress Style Start */
.progress-container {
  width: 95%;
  height: 0.2px;
  background-color: #fff;
  margin: 0px auto;
}

.parent {
  color: white;
  margin-top: 15px;
  position: relative;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #7a7a7a;
  border-radius: 50%;
  margin-top: -4px;
}
.child {
  height: 12px;
  width: 12px;
  background-color: var(--secondary-bg);
  border-radius: 50%;
  position: absolute;
  top: -21px;
  left: 50px;
}
.custom-outer-radius {
  position: absolute;
  top: -26px;
  left: 25px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid var(--primary-pink);
}

.custom-main-progress-container > .parent:first-child .child {
  left: 30px;
}

.custom-bg-change-progress {
  background-color: var(--primary-pink);
}
.custom-main-progress-container > .parent:last-child .child {
  left: 30px;
}

@media screen and (width<768px) {
  .progress-container {
    display: none;
  }
  .custom-main-progress-container {
    align-items: center;
    flex-direction: column;
  }
  .dot {
    display: none;
  }
  .child {
    display: none;
  }
  .custom-main-progress-container > .parent:first-child .child {
    margin-left: 20px;
    display: block;
  }
  .custom-outer-radius {
    margin-left: 19px;
  }
}

/* Progress Style End */

/* Order Style Start */
.custom-margin-left {
  margin-left: 30%;
}

.custom-order-bg {
  background-color: var(--secondary-bg);
  padding: 10px 20px;
  border-radius: 20px;
}
/* Carousel */

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

@media (width>1200px) {
  .carousel-control-prev {
    margin-left: -80px;
  }
}

@media (width<768px) {
  .custom-relative-image {
    position: relative;
  }

  .carousel-control-prev-icon {
    position: absolute;
    top: 80%;
    left: 5%;
  }
  .carousel-control-next-icon {
    position: absolute;
    top: 80%;
    right: 5%;
  }
}

/* Order style End */

/* Integrations style start */
@media screen and (width<=768px) {
  .grid-container {
    margin-left: 15%;
  }
}

.custom-integrations-logo {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

/* Integrations style End*/

/* Get Started Style Start */
.custom-getStarted-vr {
  background: var(--vertical-line-gradient) !important  ;
  width: 1px;
  height: 300px;
}

.custom-getStarted-hr {
  background: var(--horizontal-line-gradient) !important;
  width: 250px;
  height: 1px;
  margin: 0px auto;
}

.custom-getStarted2-hr {
  background: var(--horizontal-line-gradient) !important;
  width: 450px;
  height: 1px;
  margin: 0px auto;
}

@media screen and (width<576px) {
  .custom-arrangement {
    flex-direction: column !important;
  }
}

/* Get Started Style End */

/*Contact Style Start */

.custom-contact-parent-btn {
  background: var(--main-gradient);
  padding: 2px;
  border-radius: 20px;
  top: 12%;
  right: 10px;
}

.custom-contact-btn {
  padding: 6px 10px;
  border-radius: 20px;
}

.custom-input-color {
  background-color: #353333 !important;
  color: white !important;
  border-radius: 30px !important;
}

@media screen and (width<=408px) {
  .custom-project {
    text-align: center;
    margin-top: 15px;
    display: block;
  }
  .custom-display-btn {
    display: none;
  }
}
@media screen and (width>408px) {
  .custom-project {
    display: none;
  }
  .custom-display-btn {
    display: block;
  }
}
@media screen and (min-width: 769px) and (max-width: 1020px) {
  .custom-project {
    text-align: center;
    margin-top: 15px;
    display: block;
  }
  .custom-display-btn {
    display: none;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .custom-firstPoint {
    margin-left: 14px;
  }
}
@media (width>768px) and (width<=992px) {
  .custom-movement {
    margin-left: 7px;
  }
}
@media (width>1160px) and (width<=1400px) {
  .custom-movement {
    margin-right: 20px;
  }
}

.custom-input-color::placeholder {
  color: white !important;
}

.custom-contact-bg {
  background-color: #070707;
}

.custom-contact-border {
  border: 1px solid #151515 !important;
}

.custom-contact-radial-gradient {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 15%;
  top: 30%;
  right: 0;
  background: var(--contact-gradient);
  box-shadow: 0px 0px 118.19px 70px rgba(151, 100, 255, 1);
}

/* Contact Style End */

/* Unify Styles Start */
.custom-dotted-border {
  background-color: #8a7979;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23a0a09cff' stroke-width='0.6' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 20px;
}

.custom-height-width {
  width: 100%;
  max-width: 520px;
  height: auto;
  background-color: #1d1c20;
}

.custom-child-heightWidth {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* Unifu Styles End */

/* Decision Styles  Start*/

.custom-decision-bg {
  background: #1d1c20;
  width: 210px;
  height: 353px;
}

.custom-small-font {
  font-size: 14px;
}
.custom-smallest-font {
  font-size: 13px;
}
.custom-nowrap {
  white-space: nowrap;
}

/* Decision Styles End */

/* PPJ Styles Start */

.custom-ppj-bg {
  background: #1d1c20;
  width: 100%;
  height: auto;
  max-width: 470px;
}

.custom-child-elements {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.custom-flowchart-image {
  width: 30px;
  height: 26px;
}

/* PPJ Styles End */

/* Shipping Styles Start */
.custom-shipping-bg {
  background: #1d1c20;
  height: 150px;
  width: 250px;
}
.custom-top-border {
  background-color: #8a7979;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='1' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23A0A09CFF' stroke-width='0.6' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

.custom-optimisation-bg {
  background: #1d1c20;
  height: auto;
  width: 430px;
}

@media (width<=450px) {
  .custom-optimisation-bg {
    width: 100%;
  }
}

/* Shipping Styles End */

/* Grid Ordering Start for Flowchart */
.containers {
  display: grid;
  grid-template-columns: repeat(30, 45px);
  grid-template-rows: repeat(40, 20px);
  padding: 3px;
  justify-content: center;
  margin-top: 20px;
}

.item-1 {
  grid-column: span 9;
}

.item-2 {
  grid-column: span 1;
  align-self: start;
  margin-top: 80px;
}

.item-3 {
  grid-column: span 5;
}

.item-4 {
  grid-column: span 2;
}

.item-5 {
  grid-column: span 13;
  padding: 10px;
}

.item-6 {
  grid-row: 18;
  grid-column: 5;
}

.item-10 {
  grid-row: 25;
  grid-column: 12;
}

.item-11 {
  grid-row: 28;
  grid-column: 17;
  display: none;
}

.item-12 {
  grid-row: 25;
}

.item-13 {
  grid-row: 28;
  grid-column: 11;
}

@media (width<1360px) {
  .containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .item-2 {
    transform: rotate(90deg);
    align-self: center;
    margin-left: 37px;
    margin-top: 8px;
  }

  .item-4 {
    transform: rotate(90deg);
    margin: -80px auto 0 50%;
  }

  .item-5 {
    margin-top: -80px;
  }

  .item-11 {
    display: block;
    transform: rotate(-90deg);
    margin: 15px auto;
  }
  .item-13 {
    display: none;
  }
}

/* Grid Ordering End for FlowChart */
